$license

#!/bin/sh

# chg dir to app dir
cd ${folder}

# clean
rm -rv ./build ./bin

# CMake Build
$cmakepath . -Bbuild

# Binary Build
$cmakepath --build build -- -j3

# Binary Exec
.${sep}bin${sep}${labelLow}
