language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  - conda_deps='pip libgfortran cython numpy scipy networkx matplotlib nose sympy'
  - conda create -q -n test-environment "python=$TRAVIS_PYTHON_VERSION" $conda_deps
  - source activate test-environment
  - pip_deps='stopit progressbar2 nose nose-exclude codecov coveralls'
  - pip install $pip_deps
  - pip install .
# command to run tests
script:
  - nosetests --with-coverage --cover-erase --exclude-dir="/pyphs/plots/" --exclude-dir="/pyphs/misc/"
after_success:
  - codecov
  - coveralls
