${license}
%
% -----------------------------------------------------------------------------
%
\documentclass[11pt, oneside]{article}      % use 'amsart' instead of 'article' for AMSLaTeX format
%
% -----------------------------------------------------------------------------
% Geometry
%
\usepackage{geometry}                       % See geometry.pdf to learn the layout options. There are lots.
\geometry{letterpaper}                      % ... or a4paper or a5paper or ...
%\geometry{landscape}                       % Activate for rotated page geometry
%
% -----------------------------------------------------------------------------
% Date
%
\date{\today}                               % Activate to display a given date or no date
%
% -----------------------------------------------------------------------------
% Title
%
\title{${title}}
%
% -----------------------------------------------------------------------------
% Packages
%
\usepackage[parfill]{parskip}               % Activate to begin paragraphs with an empty line rather than an indent
%
\usepackage{hyperref}                       % pdf metadata
%
\usepackage{amssymb}                        % Mathematical symbols
%
\usepackage{graphicx}                       % Use pdf, png, jpg, or eps with pdflatex; use eps in DVI mode
%                                           % TeX will automatically convert eps --> pdf in pdflatex
%
% -----------------------------------------------------------------------------
%
% -----------------------------------------------------------------------------
% Resize text to fit page width.
%
\usepackage{ifthen}
%
\newlength{\mylen}
%
\newcommand{\Resize}[1]{
	\settowidth{\mylen}{#1}
	\ifthenelse{
	\lengthtest{\mylen < 0.99\textwidth}
	}
	{
	\settowidth{\mylen}{\resizebox{\mylen}{!}{$$.$$}}
	}
	{
	\settowidth{\mylen}{\resizebox{0.99\textwidth}{!}{$$.$$}}
	}
	\resizebox{\mylen}{!}{#1}
}
%
% -----------------------------------------------------------------------------
%
\begin{document}
%
% -----------------------------------------------------------------------------
%
\maketitle
%
% -----------------------------------------------------------------------------
%
This document has been generated by the \textsc{PyPHS} software\footnote{\url{https://pyphs.github.io/pyphs/}} on ${time}.
%
${description}
%
\tableofcontents
%
% -----------------------------------------------------------------------------
%
%% -----------------------------------------------------------------------------
%
${content}
%
% -----------------------------------------------------------------------------
%
% -----------------------------------------------------------------------------
%
\end{document}
